CLOUDFLARE_API_KEY
GROQ_API_KEY
DSN
EMAIL_FROM
EMAIL_PASSWORD
EMAIL_PORT
EMAIL_HOST
DB_NAME
DB_USER
DB_PASS
DB_HOST
JWT_KEY
AWS_STORAGE_BUCKET_NAME
GRAFANA_SMTP_PASSWORD
GRAFANA_SMTP_SENDER
AWS_REGION
SECRET_KEY
