<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>The Architect</title>
</head>
<body style="background-color: #121212; color: #cccccc; font-family: 'Courier New', Courier, monospace; padding: 40px 10px; margin: 0; text-align: center;">

    <div style="max-width: 500px; margin: 0 auto; background-color: #1a1a1a; padding: 40px 30px; border: 1px solid #333333;">

        <h1 style="color: #ffffff; letter-spacing: 5px; font-weight: normal; margin-top: 0; margin-bottom: 30px; border-bottom: 1px solid #333333; padding-bottom: 20px;">
            THE <span style="text-transform: uppercase;">Architect</span> CIRCLE
        </h1>

        <p style="font-size: 16px; line-height: 1.6; margin-bottom: 30px;">
            Hey {{ .UserAlias }},

            The circle has decided—you are the new Architect for the next 7 days!

        <div style="color: #cc0000; padding: 15px; font-size: 22; letter-spacing: 3px; border: 1px dashed #444444; margin-bottom: 30px;">
            Your Power: You can upgrade or downgrade anyone from the circle without votes       </div>
        <div style="color: #cc0000; padding: 15px; font-size: 22; letter-spacing: 3px; border: 1px dashed #444444; margin-bottom: 30px;">
            The Rule: You have to create vote to nominate new Architect. It takes an 90% YES vote from gold and silver users to make someone Architect        </div>
        </p>

        <p style="font-size: 12px; color: #555555; line-height: 1.5; margin-bottom: 0;">
            Keep this mail secure. If you are not ready, delete this message and we will not contact you again. If you share this email with anyone, be ready to face the consequences
        </p>

    </div>

</body>
</html>
