.custom-scrollbar {
  overflow-y: auto;
  padding: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(255 255 255 / 2%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(139 92 246 / 40%);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(139 92 246 / 70%);
}
