.map-zoom-controls {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background: rgb(15 23 42 / 75%);
    border-radius: 12px;
  }

  .map-zoom-controls button {
    width: 38px;
    height: 38px;
    background: transparent;
    font-size: 17px;
    border: none;
    color: #f3f4f6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .map-zoom-controls button:hover {
    background: rgb(255 255 255 / 10%);
  }

  .map-zoom-divider {
    width: 100%;
    height: 1px;
    background: rgb(255 255 255 / 10%);
  }

  @media (width <= 768px) {
    .map-zoom-controls {
      bottom: 12px;
      right: 12px;
      width: 30px;
      height: 60px;
      align-items: center;
    }
  }
